* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aliceblue;
}

h1 {
  margin-bottom: 10px;
}

.form-container {
  border: 1px solid #151515;
  padding: 20px;
  text-align: center;
  height: 250px;
  width: 350px;
  background-color: white;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.form-group input[type="number"] {
  border: 1px solid #ccc; /* Standard border */
  padding: 0 5px; /* Padding inside the input */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  /* -moz-appearance: textfield; Ensure Firefox doesn't show spin buttons */
  width: 40%;
}

.form-group input[type="number"]::-webkit-outer-spin-button,
.form-group input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Remove spin buttons in WebKit browsers */
  margin: 0; /* Reset margin */
}

#emi {
  margin: 20px;
  color: #151515;
}
